<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Appliances_Management_System.Properties.Settings.productlistConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\trjnz\Desktop\BSCS 2A 2nd SEM\Programming Language\GROUP 3\Happy Home - Group 3 C#\bin\Debug\productlist.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Appliances_Management_System.Properties.Settings.ProductList1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ProductList1.mdb"
            providerName="System.Data.OleDb" />
        <add name="Appliances_Management_System.Properties.Settings.productlistConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\productlist.mdb"
            providerName="System.Data.OleDb" />
        <add name="Appliances_Management_System.Properties.Settings.Newproductlist"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Newproductlist.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>